@use '../../base/media' as *;
@use '../../base/mixins' as *;
.main--spa {
    .hero {
        &__info {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-bottom: 19px;
            max-width: 327px;
            margin: 0 auto;
            border-bottom: 1px solid #ffffff;
            @include media('mobile') {
                padding-bottom: 8px;
                gap: 4px;
            }

            img {
                width: 32px;
                height: 32px;
                display: inline-flex;
                flex-shrink: 0;

                @include media('mobile') {
                    width: 24px;
                    height: 24px;
                }
            }

            span {
                font: 400 20px / 100% var(--ff-secondary);
                color: var(--white-color);
                @include media('tablet') {
                    font-size: 18px;
                }
                @include media('mobile') {
                    font-size: 16px;
                }
            }
        }
    }
}
