@use '../base/media' as *;
@use '../base/mixins' as *;
.benefits {
    padding-block: var(--content-padding-lg) var(--content-padding-sm);

    &__title {
        font: 400 64px / 80px var(--ff-base);
        letter-spacing: 4%;
        text-align: center;
        text-transform: uppercase;
        max-width: 1070px;
        margin: 0 auto 64px;
        color: var(--primary-color);

        @include media('desktop') {
            font-size: 48px;
            line-height: 120%;
        }
        @include media('tablet') {
            font-size: 36px;
        }
        @include media('mobile') {
            font-size: 24px;
            margin: 0 auto 32px;
        }
    }

    &__description {
        font: 300 24px / 100% var(--ff-secondary);
        letter-spacing: 0.1%;
        text-align: center;
        max-width: 680px;
        margin: 0 auto;
        color: var(--black-color);

        @include media('mobile') {
            font-size: 18px;
        }
    }

    &__gallery {
        position: relative;
        margin-bottom: 44px;

        @include media('mobile') {
            margin-bottom: 22px;
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
        }

        &-btn {
            z-index: 5;
            @include transitions(0.3s);
            width: 44px;
            height: 44px;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
            border: 1px solid var(--primary-color);
            color: var(--primary-color);

            @include media('mobile') {
                position: relative;
                top: auto;
                transform: translateY(0);
            }

            @include hover {
                background: var(--primary-color);
                color: var(--white-color);
            }

            &.btn--next {
                right: 30%;
                @include media('mobile') {
                    right: auto;
                }
            }
            &.btn--prev {
                left: 30%;
                @include media('mobile') {
                    left: auto;
                }
            }
        }

        &-slide {
            @include transitions(0.2s);
            transform: scale(0.9) !important;

            @include media('mobile') {
                transform: scale(1) !important;
                height: 320px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &.swiper-slide-active {
                transform: scale(1) !important;
            }
        }

        &-nav {
            @include media('mobile') {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 12px;
                padding-right: 20px;
            }
        }
    }
}
