@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .hero {
        position: relative;
        min-height: 100vh;
        display: grid;
        overflow: hidden;

        @include media('mobile') {
            min-height: 100svh;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: #0000008a;
        }

        .container {
            z-index: 2;
            position: relative;
            height: 100%;
            width: 100%;
        }

        &__gallery {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &-slide {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__content {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            font: 400 244px / 200px var(--ff-base);
            letter-spacing: 10px;
            text-transform: uppercase;
            margin-bottom: 44px;
            color: var(--white-color);

            @include media('desktop') {
                font-size: 180px;
                line-height: 120%;
            }
            @include media('tablet') {
                font-size: 120px;
                margin-bottom: 20px;
            }
            @include media('mobile') {
                font-size: 60px;
            }
        }

        &__subtitle {
            font: 400 44px / 100% var(--ff-secondary);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            margin-bottom: 64px;
            color: var(--white-color);

            @include media('desktop') {
                font-size: 40px;
            }
            @include media('tablet') {
                font-size: 32px;
            }
            @include media('mobile') {
                font-size: 24px;
                gap: 8px;
                margin-bottom: 32px;
            }

            span {
                &:nth-child(2) {
                    font-family: var(--ff-base);
                }
            }
        }

        &__deco {
            transform: rotate(90deg) translateX(-50%);
            display: flex;
            align-items: center;
            gap: 8px;
            position: absolute;
            z-index: 2;
            bottom: 64px;
            right: 0;
            color: var(--white-color);

            @include media('mobile') {
                right: -32px;
            }

            p {
                margin: 0;
                font: 400 24px / 100% var(--ff-secondary);
                text-transform: uppercase;

                @include media('mobile') {
                    font-size: 14px;
                }
            }

            svg {
                transform: rotate(-90deg);
                display: inline-block;
                animation: arrowMove 1.5s ease-in-out infinite;

                @include media('mobile') {
                    width: 20px;
                    height: 20px;
                }

                @keyframes arrowMove {
                    0% {
                        transform: rotate(-90deg) translateY(0);
                    }
                    50% {
                        transform: rotate(-90deg) translateY(10px);
                    }
                    100% {
                        transform: rotate(-90deg) translateY(0);
                    }
                }
            }
        }

        &__pagination {
            display: flex;
            padding-inline: 20px;
            gap: 8px;
            justify-content: center;
            position: absolute;
            bottom: 64px !important;

            @include media('mobile') {
                bottom: 32px !important;
            }

            .swiper-pagination-bullet {
                @include transitions(0.3s);
                margin: 0 !important;
                opacity: 1 !important;
                max-width: 87px;
                height: 4px;
                width: 100%;
                border-radius: 1000px;
                backdrop-filter: blur(2px);
                background: #ffffff3d;

                &-active {
                    background: var(--white-color);
                }
            }
        }

        .link--accent {
            border: none;
            justify-content: center;
            max-width: 282px;
            margin: 0 auto;
            background: var(--primary-color);

            span {
                @include transitions(0.3s);
                z-index: 2;
            }

            &::before {
                z-index: 0;
                background: var(--white-color);
            }

            @include hover {
                span {
                    color: var(--primary-color);
                }
            }
        }
    }
}
