@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font: 400 16px/1.5 var(--ff-base);
    color: var(--black-color);
    background: var(--primary-bg);
}

main {
    flex: 1;
}

button {
    @include reset_button;
    display: flex;
}

a {
    @include reset_link;
}

.container {
    max-width: 1440px;
    padding-inline: 56px;
    margin: 0 auto;

    @include media('mobile') {
        padding-inline: 20px;
    }
}

section {
    @include media('mobile') {
        scroll-margin-top: 80px;
    }
}
