@use '../base/media' as *;
@use '../base/mixins' as *;

.link--accent {
    font: 400 16px / 100% var(--ff-secondary);
    padding: 17px 35px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    @include transitions(0.3s);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--white-color);
    color: var(--white-color);

    @include media('mobile') {
        max-width: 100%;
        font-size: 18px;
        padding: 15px 41px;
    }

    &::before {
        content: '';
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 20px;
        z-index: -1;
        transform: translate(-50%, 200%) scale(1);
        transition-duration: 1s;
        transition-property: width height;
        background: var(--primary-color);
    }

    @include hover {
        border-color: var(--primary-color);

        span:last-child {
            transform: rotate(-90deg);
        }

        &::before {
            transform: translate(-50%, 100%) scale(20);
        }
    }

    span:last-child {
        @include transitions(0.3s);
        width: 24px;
        height: 24px;
        display: inline-flex;
        flex-shrink: 0;
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.link--primary {
    font: 400 24px / 100% var(--ff-secondary);
    padding: 15px 41px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    width: 100%;
    transition: background 0.5s linear, color 0.3s linear;
    position: relative;
    overflow: hidden;
    color: var(--white-color);

    @include media('mobile') {
        font-size: 18px;
    }

    &::before {
        content: '';
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 20px;
        z-index: 2;
        transform: translate(-50%, 200%) scale(1);
        transition-duration: 1.5s;
        transition-property: width height;
        background: var(--primary-color);
    }

    @include hover {
        border-color: var(--primary-color);

        span:last-child {
            transform: rotate(-90deg);
        }

        &::before {
            transform: translate(-50%, 100%) scale(20);
        }
    }

    span {
        z-index: 3;
    }

    span:last-child {
        @include transitions(0.3s);
        width: 32px;
        height: 32px;
        display: inline-flex;
        flex-shrink: 0;
        svg {
            width: 100%;
            height: 100%;
        }

        @include media('mobile') {
            width: 24px;
            height: 24px;
        }
    }
}
