@use '../base/media' as *;
@use '../base/mixins' as *;
.mobile-menu {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background: var(--primary-bg);
    @include transitions(0.3s);

    &.shown {
        opacity: 1;
        visibility: visible;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 1199px) {
            padding-block: 170px 20px;
            padding-inline: 20px;
        }

        @media (max-width: 767px) {
            padding-block: 120px 20px;
        }
    }

    &__col {
        &:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__link {
        font: 400 24px / 100% var(--ff-secondary);
        color: var(--black-color);
    }

    &__nav {
        margin-bottom: 40px;
        width: 100%;
    }

    &__item {
        &:has(.mobile-menu__submenu) {
            .mobile-menu__link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                margin-bottom: 12px;
                &::after {
                    content: '';
                    background: url('../images/icons/ico-drop.svg') no-repeat
                        center center;
                    display: inline-flex;
                    width: 16px;
                    height: 16px;
                    margin-top: -5px;
                    transform: rotate(-90deg);
                    @include transitions(0.3s);
                }
            }
        }

        &:has(.mobile-menu__link.open) {
            .mobile-menu__wrapper {
                grid-template-rows: 1fr;
            }
            .mobile-menu__link {
                &::after {
                    transform: rotate(0);
                }
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-rows: 0fr;
        @include transitions(0.3s);
    }

    &__submenu {
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        li {
            overflow: hidden;
        }

        a {
            font: 400 16px / 100% var(--ff-secondary);
            color: var(--black-color);
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .contact-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font: 300 12px / 100% var(--ff-secondary);
                margin-bottom: 8px;
                color: var(--black-color);
            }

            a {
                font: 400 23px / 100% var(--ff-secondary);
                margin-bottom: 8px;
                letter-spacing: 0.8px;
                color: var(--black-color);
            }
        }

        .contact-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            a {
                width: 64px;
                height: 64px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid var(--primary-color);

                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

    &__cta {
        color: var(--black-color);
        border-color: var(--black-color);
        justify-content: center;
        padding: 12px;
        max-width: 250px;
        margin: 0 auto;
        @include hover {
            color: var(--white-color);
        }
    }
}
