.js-scroll-toTop {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
    will-change: transform, opacity;
    &._animated {
        opacity: 1;
        transform: translateY(0);
    }
}

.js-scroll-toSlide {
    transition: all 1s ease-out;
    opacity: 0;
    &:nth-child(odd) {
        transform: translateX(-50%);
    }
    &:nth-child(even) {
        transform: translateX(50%);
    }
    &._animated {
        opacity: 1;
        &:nth-child(odd) {
            transform: translateX(0);
        }
        &:nth-child(even) {
            transform: translateX(0);
        }
    }
}

.benefits-gallery {
    .js-scroll__item {
        opacity: 0;
        transform: translateY(100px) scale(0.9) !important;

        &._animated {
            opacity: 1;
            transform: translateY(0) scale(0.9) !important;
        }

        &.swiper-slide-active {
            transform: translateY(100px) scale(1) !important;

            &._animated {
                transform: translateY(0) scale(1) !important;
            }
        }
    }
}
